/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

h1 {
    display: block;
    font-size: 5em;
    font-style: normal;
    font-family: fantasy;
    color: red;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2{
    display: block;
    font-size: 2em;
	color: #1a75ff ;
	font-weight: bold;


}
span{
display: block;
    font-size: 2em;
    font-style: normal;
    font-family: sans-serif;
    color:fff;
    
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}
.logo {


height: 65%;
width: 65%;
}

body {
  padding-bottom: 400px;
  color: #5a5a2a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.nav-font{
    font-size: 2em;
    
}
.navbar-wrapper {
  position: absolute;
  top: ;
  right: 0;
  left: 0;
  z-index: 20;
  
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color:#E0E0E0 ;
  top: 0%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 20%;
  left: 20%;
  min-width: 60%;
  height: 75%;
  


}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #1a75ff ;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 10px;
    
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
  }
  .navbar-wrapper .navbar {
    padding-right: 5px;
    padding-left: 5px;
    padding: 20px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 10px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 2em;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
